@model LabManager_MVC_EF.Models.Computer;

@{
    ViewData["Title"] = "Criar computador";
}

<div class="text-center">
    <h3 class="display-4">Criar computador</h3>
</div>

<form asp-controller="Computer" asp-action="Create" method="post">

    <label for="Id">Id</label> <br>
    <input asp-for="Id"> <br><br>

    <label for="Ram">Ram</label> <br>
    <input asp-for="Ram"> <br><br>

    <label for="Processor">Processor</label> <br>
    <input asp-for="Processor"> <br><br>

    <button class="btn btn-primary btn-sm" type="submit">Enviar</button>

</form>
