@{
    ViewData["Title"] = "Criar computador";
}

<div class="text-center">
    <h3 class="display-4">Criar computador</h3>
</div>


<form action="Create" method="post">
    <label for="Id">Id</label> <br>
    <input type="number" name="Id" id="Id"> <br><br>

    <label for="Ram">Ram</label> <br>
    <input type="number" name="Ram" id="Ram"> <br><br>

    <label for="Processor">Processor</label> <br>
    <input type="text" name="Processor" id="Processor"> <br><br>

    <button class="btn btn-primary btn-sm" type="submit">Enviar</button>

</form>
