@model LabManager_MVC_EF.Models.Computer;

@{
    ViewData["Title"] = "Criar computador";
}

<div class="text-center">
    <h3 class="display-4">Criar computador</h3>
</div>

<form asp-controller="Computer" asp-action="CreateForm" method="post">

    <label for="Id">Id</label> <br>
    <input asp-for="Id"> <br>
    <span asp-validation-for="Id" class="text-danger"></span> <br>

    <label for="Ram">Ram</label> <br>
    <input type="text" asp-for="Ram"> <br>
    <span asp-validation-for="Ram" class="text-danger"></span> <br>

    <label for="Processor">Processor</label> <br>
    <input asp-for="Processor"> <br>
    <span asp-validation-for="Processor" class="text-danger"></span> <br>

    <button class="btn btn-primary btn-sm" type="submit">Enviar</button>

</form>
