@model LabManager_MVC_EF.Models.Computer;

@{
    ViewData["Title"] = "Atualizar computador";
}

<div class="text-center">
    <h3 class="display-4">Atualizar computador</h3>
</div>

<form asp-controller="Computer" asp-action="Update" method="post">
    
    <input type="hidden" name="Id" id="Id" value="@Model.Id" disable>  <br><br>

    <label for="Ram">Ram</label> <br>
    <input type="text" name="Ram" id="Ram" value="@Model.Ram"> <br><br>

    <label for="Processor">Processor</label> <br>
    <input type="text" name="Processor" id="Processor" value="@Model.Processor"> <br><br>

    <button class="btn btn-primary btn-sm" type="submit">Enviar</button>

</form>
