@model LabManager_MVC_EF.Models.Lab;

@{
    ViewData["Title"] = "Atualizar lab";
}

<div class="text-center">
    <h3 class="display-4">Atualizar lab</h3>
</div>


<form asp-controller="Lab" asp-action="Update" method="post">

    <input type="hidden" name="Id" id="Id" value="@Model.Id" disable>  <br><br>

    <label for="Number">Number</label> <br>
    <input type="number" name="Number" id="Number" value=@Model.Number> <br><br>

    <label for="Name">Name</label> <br>
    <input type="text" name="Name" id="Name" value=@Model.Name> <br><br>

    <label for="Block">Block</label> <br>
    <input type="text" name="Block" id="Block" value=@Model.Block> <br><br>

    <button class="btn btn-primary btn-sm" type="submit">Enviar</button>

</form>
